*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", serif;
}

:root{
  --bg-color:#080808;
  --second-bg-color:#101010;
  --text-color:#ffffff;
  --main-color:#ea580c;
}

html{
  font-size: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 10%;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo{
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-color);
}

#menu-icon{
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.navbar a{
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  border-bottom: 3px solid transparent;
  transition: .3s;
}

.navbar a:hover{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
section{
  min-height: 100vh;
  padding: 10rem 10%;
}

section p{
  font-weight: 450;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.home-content{
  text-align: right;
}

.home-content h1{
  font-size: 5rem;
}

.home-content h3{
  font-size: 3rem;
}

.home-content p{
  font-size: 1.6rem;
  line-height: 1.8;
}

.home-img img{
  width: 320px;
  max-width: 80%;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
}
.about{
  display: flex;
  align-items: center;
  gap: 8rem;
  background: var(--second-bg-color);
}

.about-img img{
  width: 300px;
  max-width: 80%;
  border-radius: 50%;
}

.about-content h2{
  font-size: 6rem;
}

.about-content p{
  font-size: 1.8rem;
}
.services-container,
.projects-box{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 3rem;
}
.contact form{
  display: flex;
  gap: 3rem;
}

.contact input,
.contact textarea{
  width: 100%;
  padding: 2rem;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  color: white;
  border-radius: 2rem;
}
.footer{
  background: var(--second-bg-color);
  padding: 4rem 0;
}

.footer p{
  font-weight: 400;
}
@media (max-width: 1024px){
  html{font-size:58%;}
  .header{padding:2rem 5%;}
  .home{gap:5rem;}
}
@media (max-width: 768px){

  #menu-icon{display:block;}

  .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    display: none;
    padding: 2rem;
  }

  .navbar.active{
    display: block;
  }

  .navbar a{
    display: block;
    margin: 2rem 0;
    text-align: center;
  }

  .home{
    flex-direction: column-reverse;
    text-align: center;
    gap: 4rem;
  }

  .home-content{
    text-align: center;
  }

  .about{
    flex-direction: column-reverse;
    text-align: center;
  }

  .contact form{
    flex-direction: column;
  }
}
